{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login.css' %}"> <!-- Include your CSS file here -->
    <title>Logged Out</title>
</head>
<body>
    <div class="w-full flex flex-col items-center mt-[10%]">
        <div class="w-full flex flex-col items-center justify-center">
            <div class="text-[30px] font-[Poppins] text-blue-600 font-bold">You have been successfully logged out.</div>
            <!-- You can add more content or styling as needed -->
        </div>
    </div>
</body>
</html>