{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h2>Sahifa topilmadi</h2>
			</div>
			<a href="/">Bosh ekranga o'tish</a>
		</div>
	</div>
</body>
</html>