{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Online Store</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="Free HTML Templates" name="keywords">
      <meta content="Free HTML Templates" name="description">
      
      <link href="{% static 'css/animate-wow.css' %}" rel="stylesheet">
      <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
      <link href="{% static 'css/pricing.css' %}" rel="stylesheet">
      <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
      <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/slick.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      
   </head>
   <body>
      <header id="header" class="top-head">
         <!-- Static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-12 left-rs">
                     <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                        <span class="sr-only">Navigatsiyani yoqish/yopish</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                        <a href="/" class="navbar-brand"><img src="{% static 'images/logo.png' %}" alt="" /></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-12">
                     <div class="right-nav">                        
                        <div class="help-r hidden-xs">
                           <div class="help-box">
                              <ul>
                                 <li> <a data-toggle="modal" data-target="#myModal" href="#"> <span>O'zgartirish</span> <img src="{% static 'images/uzbekistan_32px.ico' %}" alt="" / > </a> </li>
                                 <li> <a href="{% url 'help' %}"><img class="h-i" src="{% static 'images/help-icon.png' %}" alt="" /> Yordam </a> </li>
                              </ul>
                           </div>
                        </div>   
                     </div>
                  </div>
               </div>
            </div>
            <!--/.container-fluid --> 
         </nav>
      </header>
      <!-- Modal -->
      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">O'zgartirish</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li><a href="#"><img src="{% static 'images/rus.ico' %}" alt="" />Русский</a></li>
                     <li><a href="#"><img src="{% static 'images/uzb.ico' %}" alt="" /> Uzbek </a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="{% url 'help' %}">Yordam</a></li>
            <li><a href="{% url 'howitworks' %}">Bu qanday ishlaydi</a></li>
            <li><a href="#">Biznes uchun chamb</a></li>
         </ul>
      </div>
      <div class="profile-box banner-p">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="profile-b">
                     <img src="{% static 'images/lag-63.png' %}" alt="#" />
                     <div class="dit-p">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                           <div class="profile-right-b">
                              <a class="vi-btn" href="/">Veb-saytga tashrif buyuring</a>
                              <a class="fo-btn" href="#">Kuzatilish</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-profile-box">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4 pr">
                  <div class="profile-pro-left">
                     <div class="left-profile-box-m">
                        <div class="pro-img">
                           <img src="{% static 'images/150x150.png' %}" alt="#" />
                        </div>
                        <div class="pof-text">
                           <h3>Morgan Mobilya</h3>
                           <div class="check-box"></div>
                        </div>
                        <a href="#">Kompaniya bilan bog'laning</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-10 col-sm-8">
                  <div class="profile-pro-right">
                     <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading clearfix">
                           <ul class="nav nav-tabs pull-left">
                              <li class="active"><a href="#tab1default" data-toggle="tab">Mahsulotlar</a></li>
                           </ul>
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                 <div class="product-box-main row">
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="{{ productpage.image.url }}" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>{{ productpage.name }}</h4>
                                                <p><span>{{ productpage.company }}</span> tomonidan <span>{{ productpage.mahsulot }}</span></p> 
                                             </div>
                                             <a href="{% url 'productpage' %}" tabindex="0">$1220</a>                                                                                       </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="footer-link-box clearfix">
                     <div class="col-md-6 col-sm-6">
                        <div class="left-f-box">
                           <div class="col-sm-4">
                              <h2>SOTISH</h2>
                              <ul>
                                 <li><a href="{% url 'pricing' %}">Hisob yaratish</a></li>
                                 <li><a href="{% url 'howitworks' %}">Bu qanday ishlaydi yetkazib beruvchilar</a></li>
                                 <li><a href="{% url 'pricing' %}">Narxlash</a></li>
                                 <li><a href="{% url 'howitworks' %}">Yetkazib beruvchilar uchun tez-tez so‘raladigan savollar</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>XARID OLING</h2>
                              <ul>
                                 <li><a href="{% url 'pricing' %}">Hisob yaratish</a></li>
                                 <li><a href="{% url 'howitworks' %}">Bu qanday ishlaydi xaridorlar</a></li>
                                 <li><a href="{% url 'profile' %}">Kategoriyalar</a></li>
                                 <li><a href="{% url 'productpage' %}">Xaridorlar uchun tez-tez so‘raladigan savollar</a></li>
                              </ul>
                           </div>
                           <div class="col-sm-4">
                              <h2>KOMPANIYA</h2>
                              <ul>
                                 <li><a href="{% url 'about_us' %}">Chamb haqida</a></li>
                                 <li><a href="{% url 'cooming_soon' %}">Biz bilan bog‘laning</a></li>
                                 <li><a href="{% url 'pricing' %}">Bosing</a></li>
                                 <li><a href="{% url 'pricing' %}">Karyera</a></li>
                                 <li><a href="{% url 'pricing' %}">Foydalanish shartlari</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="right-f-box">
                           <h2>Sanoat</h2>
                           <ul class="col-sm-4">
                              <li><a href="#">To‘qimachilik</a></li>
                              <li><a href="#">Mebel</a></li>
                              <li><a href="#">Charm</a></li>
                              <li><a href="#">Qishloq xo‘jaligi</a></li>
                              <li><a href="#">Oziq-ovqat va ichimliklar</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p><img width="90" src="{% static 'images/logo.png' %}" alt="#" style="margin-top: -5px;" /> Barcha huquqlar himoyalangan. Shirkat nomi © 2018</p>
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline socials">
                        <li>
                           <a href=""></a><img width="25" src="{% static 'images/facebook.ico' %}" alt="#" style="margin-top: -5px;" />
                        </li>
                        <li>
                           <a href=""></a><img width="25" src="{% static 'images/instagram.ico' %}" alt="#" style="margin-top: -5px;" />
                        </li>
                        <li>
                           <a href=""></a><img width="25" src="{% static 'images/telegram.ico' %}" alt="#" style="margin-top: -5px;" />
                        </li>
                        <li>
                           <a href=""></a><img width="25" src="{% static 'images/youtube.ico' %}" alt="#" style="margin-top: -5px;" />
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!--main js--> 
      <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
      <!--bootstrap js--> 
      <script src="{% static 'js/bootstrap.min.js' %}"></script> 
      <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script> 
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!--custom js--> 
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>