{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ders Programı Yükle</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
              <img src="{% static '/image.png' %}" alt="" />
              <p>BMS</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}" class="active"><i class="ri-calendar-todo-fill"></i> Ders Programı</a></li>
                    <li><a href="{% url 'dashboard' %}"><i class="ri-apps-2-fill"></i> Dashboard</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <h1>Ders Programı</h1>
            <div class="form-container">
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" id="form_group1">
                        {{ form.file.label_tag }}
                        <input type="file" name="file" accept=".xlsx" id="fileinp" class="fileIn" style="width: 10px; margin-left: 50px;">
                        <span id="spanbtn" style="width: 100px; height: 15px; margin-left: 50px;">Ekle</span>
                    </div>
                    <div class="together">
                      <div class="form-group" style="display: flex; align-items: center;">
                          {{ form.semestr.label_tag }} {{ form.semestr }}
                      </div>
                      <div class="form-group">
                          {{ form.year.label_tag }} {{ form.year }}
                      </div>
                  </div>
                    <div class="form-group" id="deadline">
                        Isıtma çalışma süresi:                        {{ form.from_month }}
                        <span> - </span>
                        {{ form.to_month }}
                    </div>
                    <button type="submit" id="submit">Yükle</button>
                </form>
            </div>
            <div class="schedule-details">
                {% if sheets_data %}
                    <h2>Dosya</h2>
                    <p><strong>Yarıyıl:</strong> {{ semestr }}</p>
                    <p><strong>Yıl:</strong> {{ year }}</p>
                    <p><strong>Isıtma çalışma süresi:</strong> {{ from_month }} - {{ to_month }}</p>

                    <label for="sheet-select">Dosya seç</label>
                    <select id="sheet-select">
                        {% for sheet_name in sheets_data.keys %}
                            <option value="{{ sheet_name }}">{{ sheet_name }}</option>
                        {% endfor %}
                    </select>

                    <table class="schedule-table">
                        <thead id="schedule-table-head">
                            <tr>
                                {% for cell in schedule_data.0 %}
                                    <th>{{ cell }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="schedule-table-body">
                            {% for row in schedule_data|slice:"1:" %}
                                <tr>
                                    {% for cell in row %}
                                        <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            // Function to update button text and file input value
            function updateButtonText() {
                var fileName = $('#fileinp').val().split('\\').pop(); // Get the file name
                $('#spanbtn').text(fileName); // Set button text to file name
                // $('#submit').text(fileName.length); // Set button text to length of file name
            }
    
            $('#sheet-select').change(function(){
                var sheetName = $(this).val();
                var formData = new FormData($('#upload-form')[0]);
                formData.append('sheet_name', sheetName);
    
                $.ajax({
                    url: '',
                    type: 'POST',
                    headers: {'X-Requested-With': 'XMLHttpRequest'},
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        var scheduleData = data.schedule_data;
                        var tbody = $('#schedule-table-body');
                        var thead = $('#schedule-table-head');
                        tbody.empty();
                        thead.empty();
    
                        // Render new table header
                        var headerRow = $('<tr></tr>');
                        for(var i = 0; i < scheduleData[0].length; i++){
                            headerRow.append('<th>' + scheduleData[0][i] + '</th>');
                        }
                        thead.append(headerRow);
    
                        // Render new table rows
                        for(var i = 1; i < scheduleData.length; i++){
                            var row = $('<tr></tr>');
                            for(var j = 0; j < scheduleData[i].length; j++){
                                row.append('<td>' + scheduleData[i][j] + '</td>');
                            }
                            tbody.append(row);
                        }
                    }
                });
            });
    
            // Load file from localStorage if exists
            if (localStorage.getItem('uploadedFile')) {
                const fileData = localStorage.getItem('uploadedFile');
                const byteCharacters = atob(fileData);
                const byteNumbers = new Array(byteCharacters.length);
                for (let i = 0; i < byteCharacters.length; i++) {
                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                }
                const byteArray = new Uint8Array(byteNumbers);
                const file = new Blob([byteArray], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
    
                const dataTransfer = new DataTransfer();
                const fileItem = new File([file], 'schedule.xlsx');
                dataTransfer.items.add(fileItem);
                document.getElementById('fileinp').files = dataTransfer.files;
    
                updateButtonText(); // Update button text after loading file
            }
    
            // Save file to localStorage when selected
            $('#fileinp').on('change', function(){
                const file = this.files[0];
                const reader = new FileReader();
                reader.onload = function(event) {
                    const fileData = event.target.result.split(',')[1];
                    localStorage.setItem('uploadedFile', fileData);
                };
                reader.readAsDataURL(file);
                
                updateButtonText(); // Update button text after selecting file
            });
    
            // Trigger file input click when span button is clicked
            let spanbtn = document.getElementById("spanbtn");
            let fileinp = document.getElementById("fileinp");
    
            spanbtn.addEventListener('click' , () => {
                fileinp.click();
            });
        });
    </script>
    