
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>
<body>
    <center style="gap: 10px; 
    height: 652px ; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: transparent;
    background-image: linear-gradient(90deg, #000000 0%, #001E1E 50%) 
    ">
    <center>
<center>

<h1 class="text-white text-start my-4" style="width: fit-content;">Ro'yxatdan o'tish</h1> 
<form class="text-white text-start" style="width: 300px;" method="POST">
    {% csrf_token %}

    {% for x in form %}
       <div class="text-start"> {{x.label}} <br> {{x}} 
       </div>
    {% endfor %}
<br>
    <button class="w-100 btn btn-success btn-lg my-1 text-center" type="submit">Ro'yxatdan o'tish</button>
    <a class="w-100 btn btn-primary btn-lg my-1 text-center" href="{% url 'login' %}">Akkauntingiz bormi ?</a>
</form>

</center>
<script>
    document.getElementById('id_username').setAttribute('class','form-control ')
    document.getElementById('id_password1').setAttribute('class','form-control ')
    document.getElementById('id_password2').setAttribute('class','form-control ')
</script>

</body>
</html>

